<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Moje portfolio</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#home">STRONA GŁÓWNA</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#about">O MNIE</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#skills">MOJE UMIEJĘTNOŚCI</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <section class="main__home home" id="home">
        <h1 class="home__title">MICHAŁ DRAGAN</h1>
        <p class="home__subtitle">TWÓRCA WWW, PROGRAMISTA PYTHON</p>
      </section>
      <section class="main__about about" id="about">
        <h2 class="about__title">O MNIE</h2>
        <div class="about__info info-block">
          <p class="info-block__text">
            Interesuję się matematyką oraz informatyką i lubię programować. Umiem tworzyć strony internetowe w HTML i programować w Pythonie
          </p>
          <img
            class="info-block__img"
            src="../static/img/naklejka-gucia.png"
            alt="me"
            width="250"
            height="250"
          />
        </div>
      </section>
      <section class="main__skills skills" id="skills">
        <h2 class="skills__title">MOJE UMIEJĘTNOŚCI</h2>
        <form action="/" method="POST">
          <ul class="skills__list skills-list">
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/python.png"
                alt="python"
                width="150"
                height="150"
              />
              <span class="skill__info">Kalkulator efektywności energetycznej</span>
              <input class="skill__button" type="submit" name="button_python" value="POKAŻ PROJEKT">
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/discord.png"
                alt="discord"
                width="150"
                height="150"
              />
              <span class="skill__info">Bot na Discordzie</span>
              <input class="skill__button" type="submit" name="button_discord" value="POKAŻ PROJEKT">
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/html.png"
                alt="html"
                width="150"
                height="150"
              />
              <span class="skill__info">Generator memów</span>
              <input class="skill__button" type="submit" name="button_html" value="POKAŻ PROJEKT">
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/db.webp"
                alt="SQL"
                width="150"
                height="150"
              />
              <span class="skill__info">Notatnik</span>
              <input class="skill__button" type="submit" name="button_db" value="POKAŻ PROJEKT">
            </li>
          </ul>
        </form>
        {% if button_python%}
          <div class="skills__project project" id="project">
              <img class="project__img" src="../static/img/python-project.png" alt="project" width="500">
              <a class="project__link" href="https://github.com/michaldra/strona-html">Otwórz w GitHub</a>
          </div>
        {% endif %}
        {% if button_discord%}
          <div class="skills__project project" id="project">
              <img class="project__img" src="../static/img/bot-discord.png" alt="project" width="500">
              <a class="project__link" href="https://github.com/michaldra/BotDiscord">Otwórz w GitHub</a>
          </div>
        {% endif %}
        {% if button_html%}
          <div class="skills__project project" id="project">
              <img class="project__img" src="../static/img/meme-gen.png" alt="project" width="500">
              <a class="project__link" href="https://github.com/michaldra/meme-gen">Otwórz w GitHub</a>
          </div>
        {% endif %}
        {% if button_db%}
          <div class="skills__project project" id="project">
              <img class="project__img" src="../static/img/diary.png" alt="project" width="500">
              <a class="project__link" href="https://github.com/michaldra/notatnik">Otwórz w GitHub</a>
          </div>
        {% endif %}
      </section>
      <section class="main__feedback feedback" id="feedback">
        <h2 class="feedback__title">OPINIA</h2>
        {% block content %}
        <form action="{{ url_for('feed') }}" method="post" class="feedback__form form">
          <label for="email">
            <input type="email" class="form__input" name="email" id="email" placeholder="Wprowadź e-mail" required>
          </label>
          <label for="text">
            <textarea name="text" class="form__input" id="text" cols="70" rows="10" placeholder="Komentarz" required></textarea>
          </label>
            <button class="form__button" type="submit">WYŚLIJ</button>
        </form>
        {% endblock %}
      </section>
    </main>
    <footer>

    </footer>
  </body>
</html>